 table, th, td {
    border: 1px solid black;
    padding: 6px;
    border-collapse: collapse;
    margin: 25px
  }


  *{ margin:0px;

padding: 0px;
box-sizing: border-box;}




   body {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;}
