 table, th, td {
    border: 1px solid black;
    padding: 6px;
    border-collapse: collapse;
    margin: 25px
  }

  form{margin-left: 20px;}


  *{ margin:0px;

padding: 0px;
box-sizing: border-box;}